<section>
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    
    <a class="navbar-brand" href="#"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/#!/registro">Registro</a></li>
      <li><a href="/#!/propiedades">Propiedades</a></li>
      
    </ul>
    <div class="row">
        <input id="filter" class="pull-left" type="search" name="nameFilter" ng-model="vm.filtro" placeholder="Buscar">
        <button type="button" class="add-project pull-right" data-toggle="modal" data-target="#add_project">Agregar jugador</button>
    </div>

  </div><!-- /.navbar-collapse -->
</nav>
  
    <!-- Modal -->

    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Información del jugador</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="codigo">Código</label>
                    <input ng-model="vm.jugador.codigo" type="text" class="form-control" id="codigo" placeholder="000">
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input ng-model="vm.jugador.nombre" type="text" class="form-control" id="nombre" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="alias">Alias</label>
                    <input ng-model="vm.jugador.alias" type="text" class="form-control" id="alias" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="cantDinero">Cantidad de dinero </label>
                    <input ng-model="vm.jugador.cantDinero" type="text" class="form-control" id="cantDinero" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="foto">Foto</label>
                    <input ng-model="vm.jugador.foto" class="form-control" type="file" ng-model="vm.agregar.foto" name="foto" id="foto">
                  </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="add-project" data-dismiss="modal" ng-click="vm.presave()">Agregar</button>
                </div>
            </div>

        </div>
    </div>

    <!--info jugadores cards -->
<!--     {{vm.jugadores}} -->
    <div ng-repeat="jugador in vm.jugadores | filter:vm.filtro"" class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info">
            <img class="card-img-top" style="max-height: 200px" ng-src="{{jugador.foto}}">
            <div class="card-block">
                <figure class="profile">
                    <img ng-src="{{jugador.foto}}" alt="Description" class="profile-avatar"/>
                </figure>
                <h4 class="card-title mt-3">{{jugador.nombre}}</h4>
                <div class="meta card-text">
                    <a>{{jugador.alias}}</a>
                </div>
                <div class="card-text">
                    {{jugador.codigo}}
                </div>
            </div>
            <div class="card-footer">
                <small>{{jugador.cantDinero}}</small>
                <button class="btn btn-info float-right btn-sm pull-right">Comprar</button>
            </div>
        </div>
    </div>
    
</section>


   